<div class="jumbotron"
    style="height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center"
>
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is an Email app which lets you receive, assign and send emails.</p>
  <hr class="my-4">
  <p>Please Sign up or proceed to Sign in</p>
  <div style="display:flex">
    <a style="padding: 10px" href="/signin"><button type="button" class="btn btn-primary btn-lg">Sign In</button></a>
    <a style="padding: 10px" href="/signup"><button type="button" class="btn btn-secondary btn-lg">Sign Up</button></a>
  </div>
</div>